[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
flask-jwt = "*"
werkzeug = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.11"
